---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.w3.org/2000/sitemap/0.9">
  {%- for pagina in collections.all %}
  {%- if pagina.url and '.xml' not in pagina.url %}
  <url>
    <loc>{{ site.url }}{{ pagina.url }}</loc>
    <lastmod>{{ pagina.date | dataISO }}</lastmod>
  </url>
  {%- endif %}
  {%- endfor %}
</urlset>
