---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for pagina in collections.all %}
  {%- if pagina.url and '.xml' not in pagina.url %}
  <url>
    <loc>{{ site.url }}{{ pagina.url }}</loc>
    <lastmod>{{ pagina.date | dataISO }}</lastmod>
  </url>
  {%- endif %}
  {%- endfor %}
  {#- O Mapa é servido pelo app (rewrite no vercel.json), então não é página do
      Eleventy e não entra pelo loop acima. É a página mais importante para a
      busca por "mapa financeiro". #}
  <url>
    <loc>{{ site.url }}/mapa/</loc>
  </url>
</urlset>
